.review-section {
    padding: 4rem 0;
}

.review-wrap {
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 1rem;
}

.review-content {
    padding: 3rem;
    border-bottom: .125rem solid var(--grey);
    position: relative;
    text-align: center;
}

.review-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-size: cover;
}

.review-info {
    padding: 3rem;
    text-align: center;
}

.rating {
    margin-top: 2rem;
}

.rating i {
    color: var(--primary-color);
}

.slick-prev,
.slick-next {
    font-size: 2rem;
    color: var(--primary-color);
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    content: '';
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: var(--primary-color);
}

@media only screen and (max-width: 1024px) {
    .slick-prev {
        left: -30px;
    }

    .slick-next {
        right: -30px;
    }
}

@media only screen and (max-width: 768px) {
    .review-wrap {
        margin: 0.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .slick-prev,
    .slick-next {
        display: none !important;
    }
}